* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}
.side-navbar {
  width: 180px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: rgb(62, 232, 241);
  transition: 0.5s;
  text-decoration: none;
  color: white;
}
.textmenu {
  text-decoration: none;
  color: white;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: rgba(36, 141, 247, 0.841);
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 180px;
}

#menu-btn {
  background-color: rgb(62, 232, 241);
  color: lightgrey;
  margin-left: -62px;
}
img {
  border-radius: 50%;
}
.layanan {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5%;
  margin: 1%;
}
.layanan > button {
  padding: 5%;
  margin: 1%;
  width: 20%;
}
.layanan > button:hover {
  background-color: lightcoral;
  color: black;
}
